<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create-Task</title>
</head>
<body>
    <h1 align="center">Create task</h1>
    <form method="POST" action="/store">
        <table align="center" border="1">
            <tr>
                <td><label for="title">Title:</label></td>
                <td><input type="text" id="title" name="ctitle" /></td>
            </tr>
            <tr>
                <td><label for="detail">Details:</label></td>
                <td><input type="text" id="detail" name="cdetail" /></td>
            </tr>
            <tr>
                <td><label for="cd">Date:</label></td>
                <td><input type="date" id="cd" name="cdate" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="csubmit" value="Create task" /></td>
            </tr>
        </table>
    </form>
</body>
</html>